<%- include('includes/head.ejs') %> 
  <!-- <link rel="stylesheet" href="/css/additional.css"> -->
  <!-- <script src="/js/somescript.js" defer></script> -->
</head>
<body>
  <%- include('includes/navigation.ejs') %> 

  <main>
    <h1>Welcome to my website!</h1>
    <h2>The best website ever.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum placeat similique facilis consequuntur, exercitationem quia hic voluptate, corporis quas doloribus amet dolorum qui optio illum explicabo asperiores illo, eius impedit.</p>
  </main>

<%- include('includes/end.ejs') %> 